<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout}">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body layout:fragment="content">
  <main ng-app="customer" ng-controller="customer-ctrl">
    <div class="pagetitle">
      <h1>Customer</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Customer</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <a th:href="@{admin/customer/create}" class="btn btn-outline-success mb-2"> Add Customer</a>
      <button type="button" class="btn btn-outline-success mb-2" data-bs-toggle="modal" data-bs-target="#modalAdd">
        Add Customer</button>
      <div class="alert border-success alert-dismissible fade show" role="alert" ng-show="showAlert">
        {{alertMessage}}
        <button type="button" class="btn-close" ng-click="closeAlert()" aria-label="Close"></button>
      </div>
      <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create Color</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form name="formAddColor" ng-submit="formAddColor.$valid && create()" novalidate>
                <div class="row mb-3">
                  <label for="inputName" class="col-sm-3 col-form-label">Name</label>
                  <div class="col-sm-9">
                    <input ng-model="formInput.name" name="name" id="inputName" type="text" class="form-control"
                      required>
                    <span ng-show="formAddColor.$submitted">
                      <div ng-show="formAddColor.name.$invalid" class="error-message text-danger form-text">
                        Name cannot be blank</div>
                    </span>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputName" class="col-sm-3 col-form-label">Email</label>
                  <div class="col-sm-9">
                    <input ng-model="formInput.email" name="email" id="inputName" type="email" class="form-control"
                      required>
                    <span ng-show="formAddColor.$submitted">
                      <div ng-show="formAddColor.email.$invalid" class="error-message text-danger form-text">
                        email cannot be blank</div>
                    </span>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputName" class="col-sm-3 col-form-label">Phone</label>
                  <div class="col-sm-9">
                    <input ng-model="formInput.phone" name="phone" id="inputName" type="text" class="form-control"
                      required>
                    <span ng-show="formAddColor.$submitted">
                      <div ng-show="formAddColor.phone.$invalid" class="error-message text-danger form-text">
                        Phone cannot be blank</div>
                    </span>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6 mb-3">
                    <div class="form-floating">
                      <select id="Provinces" class="form-select" onchange="getDistricts()">
                      </select>
                      <label for="Provinces">Chọn tỉnh thành</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class=" form-floating">
                      <select id="Districts" class="form-select" onchange="getWards()">
                        <option disabled selected>Chọn Quận/ Huyện</option>
                      </select>
                      <label for="Districts">Chọn tỉnh thành</label>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class=" form-floating">
                      <select id="Wards" class="form-select">
                        <option disabled selected>Chọn Thị Trấn/ Xã/ Phường</option>
                      </select>
                      <label for="Wards">Chọn tỉnh thành</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputName" class="col-sm-3 col-form-label">Address</label>
                  <div class="col-sm-9">
                    <input ng-model="formInput.address" name="address" id="inputName" type="text" class="form-control"
                      required>
                    <span ng-show="formAddColor.$submitted">
                      <div ng-show="formAddColor.address.$invalid" class="error-message text-danger form-text">
                        address cannot be blank</div>
                    </span>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputName" class="col-sm-3 col-form-label">Birth Day</label>
                  <div class="col-sm-9">
                    <input ng-model="formInput.birthday" name="birthday" id="inputName" type="date" class="form-control"
                      required>
                    <span ng-show="formAddColor.$submitted">
                      <div ng-show="formAddColor.birthday.$invalid" class="error-message text-danger form-text">
                        Name cannot be blank</div>
                    </span>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button ng-click="resetFormInput()" type="button" class="btn btn-warning">Reset</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Update -->
      <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Update Color</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form name="formUpdateColor" ng-submit="formUpdateColor.$valid && update()" novalidate>
                <div class="row mb-3">
                  <label for="updateCode" class="col-sm-3 col-form-label">Code</label>
                  <div class="col-sm-9">
                    <input ng-model="formUpdate.code" id="updateCode" name="code" type="text" class="form-control"
                      required>
                    <span ng-show="formUpdateColor.$submitted">
                      <div ng-show="formUpdateColor.code.$invalid" class="error-message text-danger form-text">
                        Code cannot be blank</div>
                    </span>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="updateName" class="col-sm-3 col-form-label">Name</label>
                  <div class="col-sm-9">
                    <input ng-model="formUpdate.name" name="name" id="updateName" type="text" class="form-control"
                      required>
                    <span ng-show="formUpdateColor.$submitted">
                      <div ng-show="formUpdateColor.name.$invalid" class="error-message text-danger form-text">
                        Name cannot be blank</div>
                    </span>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Update</button>
                  <button ng-click="resetFormUpdate()" type="button" class="btn btn-warning">Reset</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal Update -->
      <div class="row">
        <div class="col-lg-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">name</th>
                <th scope="col">email</th>
                <th scope="col">phone</th>
                <th scope="col">birthday</th>
                <th scope="col">address</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="customer in paper.items">
                <td>{{customer.name}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.birthday}}</td>
                <td>{{customer.address}}</td>
                <td>
                  <button ng-click="edit(customer)" type="button" class="btn btn-info" data-bs-toggle="modal"
                    data-bs-target="#modalUpdate"><i class="ri-refresh-line"></i></button>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i
                      class="ri-delete-bin-fill"></i></button>
                  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn xóa không?</h5>
                        </div>
                        <div class="modal-footer">
                          <button ng-click="delete(customer)" type="button" class="btn btn-primary"
                            data-bs-dismiss="modal">Delete</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item"><button ng-click="paper.first()" class="page-link">First</button></li>
              <li class="page-item"><button ng-click="paper.prev()" class="page-link">Previous</button></li>
              <li class="page-item"><a class="page-link">{{paper.page + 1}} of {{paper.count}}</a></li>
              <li class="page-item"><button ng-click="paper.next()" class="page-link">Next</button></li>
              <li class="page-item"><button ng-click="paper.last()" class="page-link">Last</button></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
  </main>
  <script th:src="@{/assets/js/customer.js}"></script>
</body>

</html>
