<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout}">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body layout:fragment="content">
  <main ng-app="customer" ng-controller="customer-ctrl">
    <div class="pagetitle">
      <h1>Customer</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Customer</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <a th:href="@{/admin/customer/create}" class="btn btn-outline-success mb-2"> Add Customer</a>
      <div class="row">
        <div class="col-lg-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">name</th>
                <th scope="col">email</th>
                <th scope="col">phone</th>
                <th scope="col">birthday</th>
                <th scope="col">address</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="customer in paper.items">
                <td>{{customer.name}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.birthday}}</td>
                <td>{{customer.address+ ", " + customer.fulladdress}}</td>
                <td>
                  <a class="btn btn-info" href="/admin/customer/edit/{{customer.id}}"><i
                      class="ri-refresh-line"></i></a>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i
                      class="ri-delete-bin-fill"></i></button>
                  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn xóa không?</h5>
                        </div>
                        <div class="modal-footer">
                          <button ng-click="delete(customer)" type="button" class="btn btn-primary"
                            data-bs-dismiss="modal">Delete</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item"><button ng-click="paper.first()" class="page-link">First</button></li>
              <li class="page-item"><button ng-click="paper.prev()" class="page-link">Previous</button></li>
              <li class="page-item"><a class="page-link">{{paper.page + 1}} of {{paper.count}}</a></li>
              <li class="page-item"><button ng-click="paper.next()" class="page-link">Next</button></li>
              <li class="page-item"><button ng-click="paper.last()" class="page-link">Last</button></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
  </main>
  <script th:src="@{/assets/js/customer.js}"></script>
</body>

</html>
