<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="content" ng-app="product-dtl" ng-controller="product-dtl-ctrl">
    <div class="overlay" ng-show="loading">
        <div class="spinner-border" role="status" style="position: absolute;left: 50%;top: 50%;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="pagetitle">
        <h1>Product</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Product Detail</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <button type="button" class="btn btn-outline-success mb-2" data-bs-toggle="modal" data-bs-target="#modalAdd">
            Add Product Detail</button>
        <div class="alert border-success alert-dismissible fade show" role="alert" ng-show="showAlert">
            {{alertMessage}}
            <button type="button" class="btn-close" ng-click="closeAlert()" aria-label="Close"></button>
        </div>
        <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Product Detail</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="image">
                                    <img src="/assets/img/no-img.svg" id="image-preview" style="width: 250px" />
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <form name="formAddProduct" ng-submit="formAddProduct.$valid && create()" novalidate>
                                    <div class="row mb-3">
                                        <label class="col-sm-3 col-form-label">Product</label>
                                        <div class="col-sm-9">
                                            <select ng-model="formInput.sock.id" name="product" class="form-select" aria-label="Default select example" required>
                                                <option ng-repeat="p in products" ng-value="p.id">{{p.name}}</option>
                                            </select>
                                            <span ng-if="formAddProduct.$submitted && formAddProduct.product.$invalid" class="error-message text-danger form-text">
                                                Please choose product
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputPrice" class="col-sm-3 col-form-label">Price</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input id="inputPrice" ng-model="formInput.unit_base_price" name="unit_base_price" type="number" class="form-control" min="1000" required>
                                                <span class="input-group-text">VND</span>
                                            </div>
                                            <span ng-if="formAddProduct.$submitted && formAddProduct.unit_base_price.$invalid" class="error-message text-danger form-text">
                                                    <span ng-if="formAddProduct.unit_base_price.$error.required">Price value cannot be blank</span>
                                                    <span ng-if="formAddProduct.unit_base_price.$error.number">Price value must be a number</span>
                                                    <span ng-if="formAddProduct.unit_base_price.$error.min">Price value must be >= 1000 VND</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputQuantity" class="col-sm-3 col-form-label">Quantity</label>
                                        <div class="col-sm-9">
                                            <input id="inputQuantity" ng-model="formInput.quantity" name="quantity" type="number" class="form-control" min="1" required>
                                            <span ng-if="formAddProduct.$submitted && formAddProduct.quantity.$invalid" class="error-message text-danger form-text">
                                                    <span ng-if="formAddProduct.quantity.$error.required">Quantity value cannot be blank</span>
                                                    <span ng-if="formAddProduct.quantity.$error.number">Quantity value must be a number</span>
                                                    <span ng-if="formAddProduct.quantity.$error.min">Quantity value must be >= 1</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-3 col-form-label">Size</label>
                                        <div class="col-sm-9">
                                            <select ng-model="formInput.size.id" name="size" class="form-select" aria-label="Default select example" required>
                                                <option ng-repeat="s in sizes" ng-value="s.id">{{s.name}}</option>
                                            </select>
                                            <span ng-if="formAddProduct.$submitted && formAddProduct.size.$invalid" class="error-message text-danger form-text">
                                                Please choose size
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-3 col-form-label">Color</label>
                                        <div class="col-sm-9">
                                            <select ng-model="formInput.color.id" name="color" class="form-select" aria-label="Default select example" required>
                                                <option ng-repeat="c in colors" ng-value="c.id">{{c.name}}</option>
                                            </select>
                                            <span ng-if="formAddProduct.$submitted && formAddProduct.color.$invalid" class="error-message text-danger form-text">
                                                Please choose color
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputDescription" class="col-sm-3 col-form-label">Description</label>
                                        <div class="col-sm-9">
                                            <textarea ng-model="formInput.description" id="inputDescription" class="form-control" style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="image" class="col-sm-3 col-form-label">File Upload</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" name="path" type="file" id="image" />
                                            <span ng-if="showError" class="error-message text-danger form-text">
                                                {{alertErrorImg}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button ng-click="resetFormInput()" type="button" class="btn btn-warning">Reset</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Update -->
        <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="image">
                                    <img id="image-preview-update" ng-src="{{formUpdate.path ? formUpdate.path : '/assets/img/no-img.svg'}}" style="width: 250px" />
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <form name="formUpdateProduct" ng-submit="formUpdateProduct.$valid && update()" novalidate>
                                    <div class="row mb-3">
                                        <label class="col-sm-3 col-form-label">Product</label>
                                        <div class="col-sm-9">
                                            <select ng-model="formUpdate.sock.id" name="product" class="form-select" aria-label="Default select example" required>
                                                <option ng-repeat="p in products" ng-value="p.id">{{p.name}}</option>
                                            </select>
                                            <span ng-if="formUpdateProduct.$submitted && formUpdateProduct.product.$invalid" class="error-message text-danger form-text">
                                                Please choose product
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="updatePrice" class="col-sm-3 col-form-label">Price</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input id="updatePrice" ng-model="formUpdate.unit_base_price" name="unit_base_price" type="number" class="form-control" min="1000" required>
                                                <span class="input-group-text">VND</span>
                                            </div>
                                            <span ng-if="formUpdateProduct.$submitted && formUpdateProduct.unit_base_price.$invalid" class="error-message text-danger form-text">
                                                    <span ng-if="formUpdateProduct.unit_base_price.$error.required">Price value cannot be blank</span>
                                                    <span ng-if="formUpdateProduct.unit_base_price.$error.number">Price value must be a number</span>
                                                    <span ng-if="formUpdateProduct.unit_base_price.$error.min">Price value must be >= 1000 VND</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="updateQuantity" class="col-sm-3 col-form-label">Quantity</label>
                                        <div class="col-sm-9">
                                            <input id="updateQuantity" ng-model="formUpdate.quantity" name="quantity" type="number" class="form-control" min="1" required>
                                            <span ng-if="formUpdateProduct.$submitted && formUpdateProduct.quantity.$invalid" class="error-message text-danger form-text">
                                                    <span ng-if="formUpdateProduct.quantity.$error.required">Quantity value cannot be blank</span>
                                                    <span ng-if="formUpdateProduct.quantity.$error.number">Quantity value must be a number</span>
                                                    <span ng-if="formUpdateProduct.quantity.$error.min">Quantity value must be >= 1</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-3 col-form-label">Size</label>
                                        <div class="col-sm-9">
                                            <select ng-model="formUpdate.size.id" name="size" class="form-select" aria-label="Default select example" required>
                                                <option ng-repeat="s in sizes" ng-value="s.id">{{s.name}}</option>
                                            </select>
                                            <span ng-if="formUpdateProduct.$submitted && formUpdateProduct.size.$invalid" class="error-message text-danger form-text">
                                                Please choose size
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-3 col-form-label">Color</label>
                                        <div class="col-sm-9">
                                            <select ng-model="formUpdate.color.id" name="color" class="form-select" aria-label="Default select example" required>
                                                <option ng-repeat="c in colors" ng-value="c.id">{{c.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="updateDescription" class="col-sm-3 col-form-label">Description</label>
                                        <div class="col-sm-9">
                                            <textarea ng-model="formUpdate.description" id="updateDescription" class="form-control" style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="image-update" class="col-sm-3 col-form-label">File Upload</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" name="path" type="file" id="image-update" />
                                            <span ng-if="showError" class="error-message text-danger form-text">
                                                {{alertErrorImg}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        <button ng-click="resetFormUpdate()" type="button" class="btn btn-warning">Reset</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal Update -->
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Size</th>
                        <th scope="col">Color</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in paper.items">
                        <td><img ng-src="{{product.path}}" width="50px"/></td>
                        <td>{{product.sock.name}}</td>
                        <td>{{product.unit_base_price}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.size.name}}</td>
                        <td>{{product.color.name}}</td>
                        <td>
                            <button ng-click="edit(product)" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalUpdate"><i class="ri-refresh-line"></i></button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="ri-delete-bin-fill"></i></button>
                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn xóa không?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button ng-click="delete(product)" type="button" class="btn btn-primary" data-bs-dismiss="modal">Delete</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><button ng-click="paper.first()" class="page-link">First</button></li>
                        <li class="page-item"><button ng-click="paper.prev()" class="page-link">Previous</button></li>
                        <li class="page-item"><a class="page-link">{{paper.page + 1}} of {{paper.count}}</a></li>
                        <li class="page-item"><button ng-click="paper.next()" class="page-link">Next</button></li>
                        <li class="page-item"><button ng-click="paper.last()" class="page-link">Last</button></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</main>
</body>
</html>