<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <main layout:fragment="content" ng-app="app" ng-controller="product-ctrl">
        <div class="pagetitle">
            <h1>Color</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Product</li>
                    <li class="breadcrumb-item active">Role</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section">
            <button type="button" class="btn btn-outline-success mb-2" data-bs-toggle="modal" data-bs-target="#modalAdd">
                Add Role</button>
            <div class="alert border-success alert-dismissible fade show" role="alert" ng-show="showAlert">
                {{alertMessage}}
                <button type="button" class="btn-close" ng-click="closeAlert()" aria-label="Close"></button>
            </div>
            <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create Role</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form name="formAddRole" ng-submit="formAddRole.$valid && create()" novalidate>
                                <div class="row mb-3">
                                    <label for="inputName" class="col-sm-3 col-form-label">Name</label>
                                    <div class="col-sm-9">
                                        <input ng-model="formInput.name" name="name" id="inputName" type="text" class="form-control" required>
                                        <span ng-show="formAddRole.$submitted">
                                            <div ng-show="formAddRole.name.$invalid" class="error-message text-danger form-text">
                                            Name cannot be blank</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputPermissions" class="col-sm-3 col-form-label">Permissions</label>
                                    <div class="col-sm-9">
                                        <input ng-model="formInput.permissions" name="permissions" id="inputPermissions" type="text" class="form-control" required>
                                        <span ng-show="formAddRole.$submitted">
                                            <div ng-show="formAddRole.permissions.$invalid" class="error-message text-danger form-text">
                                            Permissions cannot be blank</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputRoles" class="col-sm-3 col-form-label">Roles</label>
                                    <div class="col-sm-9">
                                        <input ng-model="formInput.roles" name="roles" id="inputRoles" type="text" class="form-control" required>
                                        <span ng-show="formAddRole.$submitted">
                                            <div ng-show="formAddRole.roles.$invalid" class="error-message text-danger form-text">
                                            Roles cannot be blank</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button ng-click="resetFormInput()" type="button" class="btn btn-warning">Reset</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Update -->
            <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Update Role</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form name="formUpdateRole" ng-submit="formUpdateRole.$valid && update()" novalidate>
                                <div class="row mb-3">
                                    <label for="updateName" class="col-sm-3 col-form-label">Name</label>
                                    <div class="col-sm-9">
                                        <input ng-model="formUpdate.name" id="updateName" name="name" type="text" class="form-control" required>
                                        <span ng-show="formUpdateRole.$submitted">
                                            <div ng-show="formUpdateRole.name.$invalid" class="error-message text-danger form-text">
                                            Name cannot be blank</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="updatePermissions" class="col-sm-3 col-form-label">Permissions</label>
                                    <div class="col-sm-9">
                                        <input ng-model="formUpdate.permissions" id="updatePermissions" name="permissions" type="text" class="form-control" required>
                                        <span ng-show="formUpdateRole.$submitted">
                                            <div ng-show="formUpdateRole.permissions.$invalid" class="error-message text-danger form-text">
                                            Permissions cannot be blank</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="updateRoles" class="col-sm-3 col-form-label">Roles</label>
                                    <div class="col-sm-9">
                                        <input ng-model="formUpdate.roles" id="updateRoles" type="text" class="form-control" required>
                                        <span ng-show="formUpdateRole.$submitted">
                                            <div ng-show="formUpdateRole.roles.$invalid" class="error-message text-danger form-text">
                                            Roles cannot be blank</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <legend class="col-form-label col-sm-3 pt-0">Status</legend>
                                    <div class="col-sm-9">
                                        <div class="form-check">
                                            <input ng-model="formUpdate.status" class="form-check-input" type="checkbox" id="status">
                                            <label class="form-check-label" for="status">
                                                True
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <button ng-click="resetFormUpdate()" type="button" class="btn btn-warning">Reset</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal Update -->
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Permissions</th>
                            <th scope="col">Roles</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="role in paper.items">
                                <td>{{role.name}}</td>
                                <td>{{role.permissions}}</td>
                                <td>{{role.roles}}</td>
                                <td>{{role.status ? 'Yes' : 'No'}}</td>
                                <td>
                                    <button ng-click="edit(role)" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalUpdate"><i class="ri-refresh-line"></i></button>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="ri-delete-bin-fill"></i></button>
                                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn xóa không?</h5>
                                                </div>
                                                <div class="modal-footer">
                                                    <button ng-click="delete(role)" type="button" class="btn btn-primary" data-bs-dismiss="modal">Delete</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><button ng-click="paper.first()" class="page-link">First</button></li>
                            <li class="page-item"><button ng-click="paper.prev()" class="page-link">Previous</button></li>
                            <li class="page-item"><a class="page-link">{{paper.page + 1}} of {{paper.count}}</a></li>
                            <li class="page-item"><button ng-click="paper.next()" class="page-link">Next</button></li>
                            <li class="page-item"><button ng-click="paper.last()" class="page-link">Last</button></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </main>
</body>
</html>