<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="content" ng-app="pattern" ng-controller="pattern-ctrl">
    <div class="pagetitle">
        <h1>Pattern</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Product</li>
                <li class="breadcrumb-item active">Pattern</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <button type="button" class="btn btn-outline-success mb-2" data-bs-toggle="modal" data-bs-target="#modalAdd">
            Add Pattern</button>
        <div class="alert border-success alert-dismissible fade show" role="alert" ng-show="showAlert">
            {{alertMessage}}
            <button type="button" class="btn-close" ng-click="closeAlert()" aria-label="Close"></button>
        </div>
        <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Pattern</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="formAddPattern" ng-submit="formAddPattern.$valid && create()" novalidate>
                            <div class="row mb-3">
                                <label for="inputCode" class="col-sm-3 col-form-label">Code</label>
                                <div class="col-sm-9">
                                    <input ng-model="formInput.code" name="code" id="inputCode" type="text" class="form-control" required>
                                    <span ng-show="formAddPattern.$submitted">
                                            <div ng-show="formAddPattern.code.$invalid" class="error-message text-danger form-text">
                                            Code cannot be blank</div>
                                        </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputName" class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    <input ng-model="formInput.name" name="name" id="inputName" type="text" class="form-control" required>
                                    <span ng-show="formAddPattern.$submitted">
                                            <div ng-show="formAddPattern.name.$invalid" class="error-message text-danger form-text">
                                            Name cannot be blank</div>
                                        </span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button ng-click="resetFormInput()" type="button" class="btn btn-warning">Reset</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Update -->
        <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Pattern</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="formUpdatePattern" ng-submit="formUpdatePattern.$valid && update()" novalidate>
                            <div class="row mb-3">
                                <label for="updateCode" class="col-sm-3 col-form-label">Code</label>
                                <div class="col-sm-9">
                                    <input ng-model="formUpdate.code" id="updateCode" name="code" type="text" class="form-control" required>
                                    <span ng-show="formUpdatePattern.$submitted">
                                            <div ng-show="formUpdatePattern.code.$invalid" class="error-message text-danger form-text">
                                            Code cannot be blank</div>
                                        </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="updateName" class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    <input ng-model="formUpdate.name" name="name" id="updateName" type="text" class="form-control" required>
                                    <span ng-show="formUpdatePattern.$submitted">
                                            <div ng-show="formUpdatePattern.name.$invalid" class="error-message text-danger form-text">
                                            Name cannot be blank</div>
                                        </span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <button ng-click="resetFormUpdate()" type="button" class="btn btn-warning">Reset</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal Update -->
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="pattern in paper.items">
                        <td>{{pattern.code}}</td>
                        <td>{{pattern.name}}</td>
                        <td>
                            <button ng-click="edit(pattern)" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalUpdate"><i class="ri-refresh-line"></i></button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="ri-delete-bin-fill"></i></button>
                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn xóa không?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button ng-click="delete(pattern)" type="button" class="btn btn-primary" data-bs-dismiss="modal">Delete</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><button ng-click="paper.first()" class="page-link">First</button></li>
                        <li class="page-item"><button ng-click="paper.prev()" class="page-link">Previous</button></li>
                        <li class="page-item"><a class="page-link">{{paper.page + 1}} of {{paper.count}}</a></li>
                        <li class="page-item"><button ng-click="paper.next()" class="page-link">Next</button></li>
                        <li class="page-item"><button ng-click="paper.last()" class="page-link">Last</button></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</main>
</body>
</html>