<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{admin/layout}">
<head>
    <title>Home</title>
</head>

<body>
<section layout:fragment="content">
    <div>
        <h1 class="center">Create Category</h1>
        <form th:action="@{/admin/pages/category/add}" th:object="${category}" method="post" class="form">
            <div class="form-group">
                <label class="form-label">Code: </label>
                <input type="text"  class="form-control mb-3"  th:field="*{code}" />
<!--                <div th:if="${#fields.hasErrors('ma')}" class="errors text-danger form-text" th:errors="*{ma}"></div>-->
            </div>
            <div class="form-group">
                <label class="form-label">Name: </label>
                <input type="text"  class="form-control mb-3"  th:field="*{name}" />
<!--                <div th:if="${#fields.hasErrors('ten')}" class="errors text-danger form-text" th:errors="*{ten}"></div>-->
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
    </div>
</section>
</body>

</html>