<!DOCTYPE html>
<html layout:decorate="~{admin/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Account Form</title>
</head>

<body>
  <section layout:fragment="content">
    <div class="container">
      <!-- Form to store new SockDetailRequest -->
      <form enctype="multipart/form-data" th:action="@{/admin/pages/sockdetail/store}" th:object="${sockDetailRequest}"
        method="post" class="form">
        <div class="form-floating mb-3">
          <input type="hidden" class="form-control" id="id" th:field="*{id}" />
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="quantity" th:field="*{quantity}" placeholder="Quantity" />
          <label for="quantity">Quantity:</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="unitBasePrice" th:field="*{unit_base_price}"
            placeholder="Unit Base Price" />
          <label for="unitBasePrice">Unit Base Price:</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-control" id="producer" th:field="*{producer}">
            <option value="">Select Producer</option>
            <option th:each="producer : ${producerList}" th:value="${producer.id}" th:text="${producer.name}"></option>
          </select>
          <label for="producer">Producer:</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-control" id="category" th:field="*{category}">
            <option value="">Select Category</option>
            <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}"></option>
          </select>
          <label for="category">Category:</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-control" id="sock" th:field="*{sock}">
            <option value="">Select Sock</option>
            <option th:each="sock : ${sockList}" th:value="${sock.id}" th:text="${sock.name}"></option>
          </select>
          <label for="sock">Sock:</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-control" id="pattern" th:field="*{pattern}">
            <option value="">Select Pattern</option>
            <option th:each="pattern : ${patternList}" th:value="${pattern.id}" th:text="${pattern.name}"></option>
          </select>
          <label for="pattern">Pattern:</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-control" id="material" th:field="*{material}">
            <option value="">Select Material</option>
            <option th:each="material : ${materialList}" th:value="${material.id}" th:text="${material.name}"></option>
          </select>
          <label for="material">Material:</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-control" id="size" th:field="*{size}">
            <option value="">Select Size</option>
            <option th:each="size : ${sizeList}" th:value="${size.id}" th:text="${size.name}"></option>
          </select>
          <label for="size">Size:</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-control" id="color" th:field="*{color}">
            <option value="">Select Coler</option>
            <option th:each="color : ${colorList}" th:value="${color.id}" th:text="${color.name}"></option>
          </select>
          <label for="color">Coler:</label>
        </div>
        <!-- Add similar select elements for  color, and image_sock_detail fields -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="image_sock_detail" th:field="*{image_sock_detail}" placeholder="Image" />
          <label for="image_sock_detail">Image:</label>
        </div>
        <div class="form-group mb-2">
          <label for="status">Status:</label>
          <input type="radio" value="true" id="statusActive" class="m-2" th:field="*{status}" />
          <label for="statusActive">Active</label>
          <input type="radio" value="false" id="statusInactive" class="m-2" th:field="*{status}" />
          <label for="statusInactive">Inactive</label>
          <div th:if="${#fields.hasErrors('status')}" class="errors text-danger form-text" th:errors="*{status}">
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
      </form>
    </div>

  </section>
</body>

</html>