<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
  layout:decorate="~{user/layout}">

<head>
</head>

<body layout:fragment="content">
  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <p>Welcome!!! </p>
            <h1>That dep trai</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->
  <div class="user-section mt-150 mb-150">

  </div>
  <!-- update infor form -->
  <div class="form-update-user-info container">
    <form action="" method="post">
      

    </form>
  </div>
  <!-- end update infor form -->
</body>

</html>