<!DOCTYPE html>
<html layout:decorate="~{admin/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Account Form</title>
</head>

<body>
  <section layout:fragment="content">
    <div class="container">
      <!-- Form to store new SizeRequest -->
      <form enctype="multipart/form-data" th:action="@{/admin/pages/size/store}" th:object="${sizeRequest}"
        method="post" class="form">
        <input type="hidden" class="form-control" id="id" th:field="*{id}" />

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="code" th:field="*{code}" placeholder="Size Code" />
          <label for="code">Size Code:</label>
          <div th:if="${#fields.hasErrors('code')}" class="errors text-danger form-text" th:errors="*{code}">
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Size Name" />
          <label for="name">Size Name:</label>
          <div th:if="${#fields.hasErrors('name')}" class="errors text-danger form-text" th:errors="*{name}">
          </div>
        </div>
        <div class="form-group mb-2">
          <label for="status">Status:</label>
          <input type="radio" value="true" id="statusActive" class="m-2" th:field="*{status}" />
          <label for="statusActive">Active</label>
          <input type="radio" value="false" id="statusInactive" class="m-2" th:field="*{status}" />
          <label for="statusInactive">Inactive</label>
          <div th:if="${#fields.hasErrors('status')}" class="errors text-danger form-text" th:errors="*{status}">
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
      </form>
    </div>

  </section>
</body>

</html>