<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{user/layout}"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body layout:fragment="content">
    <div class="hero-area hero-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 offset-lg-2 text-center">
            <div class="hero-text">
              <div class="hero-text-tablecell">
                <p class="subtitle">Comfortable & fashionable</p>
                <h1>Soft And Cosy</h1>
                <div class="hero-btns">
                  <a href="shop.html" class="boxed-btn">Sock Collection</a>
                  <a href="contact.html" class="bordered-btn">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end hero area -->
    <!-- product section -->
    <div class="product-section mt-150 mb-150">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="section-title">
              <h3><span class="orange-text">Our</span> Products</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet
                beatae optio.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div th:each="product: ${products}" class="col-lg-3 col-md-6 text-center">
            <div th:if="${product.sockDetail.size() > 0}" class="single-product-item">
              <div  class="product-box-image" th:classappend="${product.sockDetail.size() > 1} ? product-image : ''">
                <div class="product-img-slider">
                    <a class="d-flex" th:href="@{|/products/${product.id}|}">
                        <img th:if="${product.sockDetail.size() > 1}" th:src="${product.sockDetail[1].path}">
                        <img th:src="${product.sockDetail[0].path}">
                    </a>
                </div>
              </div>
             <a href="#"><h3 th:text="${product.name}  + ' ' + ${product.size.name} + ' ' + ${product.material.name}"></h3></a>
              <span th:text="${product.category.name}"></span>
              <p th:text="${#numbers.formatDecimal(product.sockDetail[0].unit_base_price, 0, 'COMMA', 0, 'POINT') + '₫'}" class="product-price" style="color: #990d23"></p>
              <div class="product-info">
                  <div class="product-icons">
                      <span>
                        <i class="ri-shopping-cart-2-fill"></i>
                      </span>
                      <span>
                        <i class="ri-eye-fill"></i>
                      </span>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- end product section -->
</body>
</html>