<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
  layout:decorate="~{user/layout}">

<head>
</head>

<body layout:fragment="content">
  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <p>See more Details</p>
            <h1>Single Product</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->

  <!-- single product -->
  <div class="single-product mt-150 mb-150">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="single-product-img">
            <img id="main-img" class="img-fluid w-100 pb-1" th:src="${product.sockDetail[0].path}" alt="">
            <div class="small-img-group">
              <div class="small-img-group">
                  <div th:each="item: ${product.sockDetail}" class="small-img-col">
                    <img th:src="${item.path}" width="100%" class="small-img" onclick="changeImage(this)" alt="">
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="single-product-content">
            <h3 th:text="${product.name}  + ' ' + ${product.size.name} + ' ' + ${product.material.name}"></h3>
            <p class="single-product-pricing">$50</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sint dignissimos, rem commodi cum
              voluptatem quae reprehenderit repudiandae ea tempora incidunt ipsa, quisquam animi perferendis eos eum
              modi! Tempora, earum.</p>
            <div class="single-product-form">

              <form action="index.html">
                <input type="number" placeholder="0">
              </form>
              <div>
                <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Buy</a>
              </div>
              <p><strong>Categories: </strong>[[${product.category.name}]]</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end single product -->

  <!-- more products -->
  <div class="more-products mb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="section-title">
            <h3><span class="orange-text">Related</span> Products</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="single-product-item">
            <div class="product-image">
              <a href="single-product.html"><img th:src="@{/assets/img/products/product-img-1.jpg}" alt=""></a>
            </div>
            <h3>Strawberry</h3>
            <p class="product-price"><span>Per Kg</span> 85$ </p>
            <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="single-product-item">
            <div class="product-image">
              <a href="single-product.html"><img th:src="@{/assets/img/products/product-img-2.jpg}" alt=""></a>
            </div>
            <h3>Berry</h3>
            <p class="product-price"><span>Per Kg</span> 70$ </p>
            <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 text-center">
          <div class="single-product-item">
            <div class="product-image">
              <a href="single-product.html"><img th:src="@{/assets/img/products/product-img-3.jpg}" alt=""></a>
            </div>
            <h3>Lemon</h3>
            <p class="product-price"><span>Per Kg</span> 35$ </p>
            <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end more products -->
</body>

</html>